<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">URL Shortener</a>
        <% if (isLoggedIn) { %>
        <form action="/logout" method="post">
            <button class="btn btn-outline-danger" type="submit">
                <%- message %>
            </button>
        </form>
        <% } else { %>
        <a href="/<%-message %>" class="btn btn-outline-success">
            <%- message %>
        </a>
        <%}%>
    </div>
</nav>
